<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <a href="/search" class="btn btn-block btn-lg btn-info"><span class="glyphicon glyphicon-arrow-right"></span> 랜덤채팅</a>
  </div>
</div>
